services:
   mongodb:
      build: ./mongodb
      image: kanakavignesh/mongodb:v1
      container_name: mongodb
      volumes:           
      - mongodb:/data/db       #here - mongodb means here docker run -d -p 80:8080 -v mongodb:/data/db <image name (mongodb) >
# we created volumes down we using their names  here eg: docker volume create mongodb --> in compose file we like this way
   catalogue:
      build:
        context: ./catalogue
        dockerfile: Dockerfile
      image: kanakavignesh/catalogue:v1
      container_name: catalogue
      depends_on:
      - mongodb

   redis:
      image: redis:7.0    # here we are giving version because directly runing redis without building imgae 
      container_name: redis
      volumes:
      - redis:/data
    
   mysql:
      build: ./mysql
      image: kanakavignesh/mysql:v1
      container_name: mysql
      volumes:
      - mysql:/var/lib/mysql

   rabbitmq:
      image: rabbitmq:3
      container_name: rabbitmq
      environment:
         RABBITMQ_DEFAULT_USER: roboshop
         RABBITMQ_DEFAULT_PASS: roboshop123
      volumes:
      - rabbitmq:/var/lib/rabbitmq    
         

   cart:
      build: ./cart
      image: kanakavignesh/cart:v1
      container_name: cart
      depends_on:
      - catalogue
      - redis    

   user:
      build: ./user
      image: kanakavignesh/user:v1
      container_name: user
      depends_on:
      - mongodb
      - redis


   shipping:
      build: ./shipping
      image: kanakavignesh/shipping:v1
      container_name: shipping
      depends_on:
      - mysql
      - cart    

   payment:
      build: ./payment
      image: kanakavignesh/payment:v1
      container_name: payment
      depends_on:
      - rabbitmq
      - cart
      - user

   frontend:
      build: ./frontend
      image: kanakavignesh/frontend:v1
      container_name: frontend
      ports:
      - "80:80"
      depends_on:
      - mongodb  
      - rabbitmq
      - cart
      - user
      - redis
      - mysql
      - payment
      - shipping
      - catalogue 



networks:
  default:
     driver: bridge
     name: roboshop
     external: false  # true if u have created manually using docker network command

volumes:
   mongodb:   # is same as docker volume create mongodb
   redis:
   mysql:
   rabbitmq:    